{% extends "base.html" %}
{% load static %}
{% block content %}
{% load humanize %}
{% include "post_confirm_delete.html" %}


<!-- Minhas Postagens Publicadas  -->
<div class="container">
    <div class="row">
        {% include 'sidebar.html' %}
        <div class="col-md-9 mt-3 left">
            {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.date|naturalday}} </p>
                    <p class="card-text">{{post.text|slice:":1000" }}</p>
                    <div>
                        <div class="col-md-1 mt-3 right">
                            {% if user.is_authenticated %}
                            <div class="row">
                                <div class="columnar col-md-6 mt-3">
                                    <a href="{% url 'post_update' post.slug %}" >
                                        <span class="fa fa-pencil" ></span>
                                    </a>
                                </div>
                                <div class="columnar col-md-6 mt-3">
                                    <a href="{% url 'post_delete' post.slug %}" class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{post.slug}}">
                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script src="{% static 'js/confirm_delete.js'%}"></script>
<script src="{% static 'css/icon.css'%}"></script>

{%endblock%}