{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %} Contact US {% endblock %}

{% block body_class %} contact-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %}

  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-12 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-10 start-0 text-center justify-content-center flex-column">
            <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('/static/assets/img/illustrations/illustration-signin.jpg'); background-size: cover;" loading="lazy"></div>
          </div>
          <div class="col-lg-6 position-absolute  flex-column top-10   ">
            <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-primary shadow-primary border-radius-lg p-2">
                  <h3 class="text-white text-primary mb-0">Contact us</h3>
                </div>
              </div>
              <div class="card-body">
                  <form id="contact-form" autocomplete="off" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <h2 class="card-title">Faça sua Postagem</h2>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12 ps-md-2">
                                        <div class="input-group input-group-static mb-4">
                                            <div class="col-12">
                                                {{ form.title|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ps-md-2">
                                        <div class="input-group input-group-static mb-4">
                                            <div class="col-6">
                                                {{ form.status|as_crispy_field }}
                                            </div>
                                            <div class="col-6">
                                                {{ form.author|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ps-md-2">
                                        <div class="input-group input-group-static mb-4">
                                            <div class="col-12">
                                                {{ form.slug|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ps-md-2">
                                        <div class="input-group input-group-static mb-4">
                                            <div class="col-12">
                                                <p class="card-text ">{{ form.text|as_crispy_field | safe }}</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

{% endblock content %}