{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        {% include 'sidebar.html' %}
        <div class="col-md-9 card mb-4  mt-3 left  top">
            <div class="card mb-3">
                <div class="justify-content-center align-items-center row">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <h2 class="card-title">Atualizar Publicação</h2>
                            <div class="form-group">
                                <p class=" text-muted">{{ form.title|as_crispy_field }} </p>
                                <p class=" text-muted">{{ form.author|as_crispy_field }}  {{ form.status|as_crispy_field }}</p>
                                <p class=" text-muted">{{ form.slug|as_crispy_field }} </p>
                                <p class="card-text ">{{ form.text|as_crispy_field | safe }}</p>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}