{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!-- Formulário de Posts -->
<div class="container">
    <div class="row">
        {% include 'sidebar.html' %}
        <div class="col-md-9 mt-3 ">
            <div class="card mb-3">
                <div class="justify-content-center align-items-center row">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="card-body">

                            <h2 class="card-title">Faça sua Postagem</h2>
                            <div class="form-group">
                                <p class=" text-muted">{{ form.title|as_crispy_field }} </p>
                                <p class=" text-muted">{{ form.author|as_crispy_field }} </p>
                                <div class="row">
                                    <div class="col-6">
                                        {{ form.status|as_crispy_field }}
                                    </div>
                                    <div class="col-6">
                                        {{ form.slug|as_crispy_field }}
                                    </div>
                                </div>

                                <p class="card-text ">{{ form.text|as_crispy_field | safe }}</p>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/main_style.js'%}"></script>

{% endblock content %}